code2vec
datasets
gensim.models
math
matplotlib.pyplot
nltk
nltk.tokenize
numpy
os
pandas
re
seaborn
sklearn.cluster
sklearn.manifold
sklearn.metrics
sklearn.metrics.pairwise
sklearn.model_selection
sklearn.neighbors
sklearn.preprocessing
subprocess
sys
tensorflow
tensorflow.keras.models
torch
torch.utils.data
tqdm
transformers